Language: Cpp
BasedOnStyle: Google
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Pointer
AlignConsecutiveDeclarations: true
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 80
SpacesBeforeTrailingComments: 2
Cpp11BracedListStyle: true
AccessModifierOffset: -1
InsertNewlineAtEOF: true
AlignConsecutiveAssignments: AcrossEmptyLines
SeparateDefinitionBlocks: Always